{% extends 'profil-base.html.twig' %}

{% block title %}Letu {{ app.user.username }}{% endblock %}

{% block main %}
<section class="big-section flex flex-column gap-15">
    {% if app.user and app.user.id == user.id %}
    <div class="flex flex-column gap-7">
        <p class="p-min text-grey">Vous pouvez enrichir votre profil en le modifiant.</p>
        <div class="flex gap-7">
            <a class="btn" href="{{ path('profile_edit') }}">Modifier votre profil</a>
            <a class="btn btn-green" href="{{ path('profile_recipe_add') }}">Créer une recette</a>
        </div>
    </div>
    {% endif %}

    <div class="profile-card flex items-center gap-15 p-6">
        <img class="profile-picture" src="{{ asset(app.user.profilePicture) }}"
            alt="{{ user.username }}'s profile picture">
        <div class="flex flex-column gap-4">
            <h1>{{ user.username }}</h1>
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <p>{{ user.birthAt }}</p>
        </div>
    </div>
</section>

<section class="big-section flex flex-column gap-15">
    <h2 class="text-center">Recettes</h2>
    <div class="recipe-grid">
        {% for recipe in recipes %}
        {% include "_components/recipe-card.twig" %}
        {% endfor %}
    </div>
</section>
{% endblock %}