<header class="flex p-15">
  <div class="flex items-center">
    <a href="{{ path('index') }}" class="logo {{ app.request.attributes.get('_route') == 'index' ? 'active' : '' }}">
      <img src="{{ asset('logo.svg') }}" alt="Letu Logo">
    </a>
  </div>

  <div class="flex items-center justify-end gap-7">
    {% if app.user %}
    <a class="profile {{ app.request.attributes.get('_route') == 'profile_index' ? 'active' : '' }}"
      href="{{ path('profile_index') }}">
      <img class="min-profile-picture" src="{{ asset(app.user.profilePicture) }}"
        alt="{{ app.user.username}}'s profile picture">
      {{ app.user.username }}
    </a>

    <a class="btn btn-red" href="{{ path('connexion_logout') }}">Déconnexion</a>

    {% else %}
    <a class="btn-nav {{ app.request.attributes.get('_route') starts with 'connexion' ? 'active' : '' }}"
      href="{{ path('connexion_login') }}">
      Se connecter
    </a>
    {% endif %}
  </div>
</header>