{% extends 'admin/admin-base.html.twig' %}

{% block main %}
<section class="flex flex-column pt-15 gap-15">
  <a class="btn btn-green" href="{{ path('admin_recipe_add') }}">Ajouter une recette</a>
</section>

<section class="flex flex-column pt-15">
  <h1>Liste des Recettes</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Recette</th>
        <th>Catégorie</th>
        <th>Difficulté</th>
        <th>Auteur</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
      <tr>
        <td>{{ recipe.title }}</td>
        <td>{{ recipe.category.label }}</td>
        <td>{{ recipe.difficulty.label }}</td>
        <td>{{ recipe.author.email }}</td>
        {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ asset('js/delete-modal.js') }}"></script>
{% endblock %}